body {
  margin: 0;
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}

#navbar {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

#navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: white;
  color: black;
}
#navbar img{
    float:right;
    width: 40px;
    height:40px;
    padding: 3px;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
    height: 420px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
    margin:8px;
  background-color: grey;
  color: black;
  padding:40px;
}
.dropdown-content a:hover {background-color: black;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: grey;}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-130%, -850%);
    color: white;
    font-size: 30px;
}
    
.top-left {
  position: absolute;
  top: 230px;
  left: 130px;
     color: white;
    font-size: 18px;
}

.top-leftt {
  position: absolute;
  top: 250px;
  left: 130px;
     color: white;
    font-size: 18px;
}

.top-right {
  position: absolute;
  top: 130px;
  right: 200px;
    
}
.bottom-right {
  position: absolute;
  bottom: 300px;
  right: 300px;
}


.bottom-rightt {
  position: absolute;
  bottom: 180px;
  right: 1200px;
        
}
.bottom-righ {
  position: absolute;
  bottom: 200px;
  right: 1050px;
    color: white;
    
}
